<html>
<head>
    <style type="text/css">
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>Kedves <%= userName %>!</div>

<div>Sajnos az alábbi óra elmarad: <%= trainingName%> / <%= trainingDate%></div>

<div>Természetesen az elmaradó alkalom jóváírásra került a bérleteden, és a bérleted érvényességét is meghosszabítottuk egy héttel.</div>

<div>
    Üdvözlettel,<br/>
    A Testkultúra Terem Csapata
</div>

<div>
    P.S.: Móni csak írni szeret, olvasni nem, ezért ha kérdésed van akkor a <a href="mailto:support@tkmuhely.hu">support@tkmuhely.hu</a> címre írj, ne erre!
</div>

</body>
<html>