<html>
<head>
    <style type="text/css">
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>Kedves <%= userName %>!</div>

<div>Ez csak egy ellenőrző üzenet, mivel nemrég megváltoztattad a jelszavadat a rendszerünkben.</div>

<div>Kérlek, amennyiben nem te kezdeményezted a jelszó változtatást, mindenképpen jelezd ezt alábbi email címen: <a href="mailto:support@tkmuhely.hu">support@tkmuhely.hu</a></div>

<div>
    Üdvözlettel,<br/>
    A Testkultúra Terem Csapata
</div>

<div>
    P.S.: Móni csak írni szeret, olvasni nem, ezért ha kérdésed van akkor a <a href="mailto:support@tkmuhely.hu">support@tkmuhely.hu</a> címre írj, ne erre!
</div>

</body>
<html>