<html>
<head>
    <style type="text/css">
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>Kedves <%= userName %>!</div>

<div>Nagyon örülünk, hogy az edzőterem edzőinek körében üdvözölhetünk!</div>

<div>
    Az Edzőterem Segéd alkalmazást az alábbi webcímen tudod elérni:<br/>
    <a href="#">url</a><br/>
</div>

<div>
    A belépési neved: <%= userName %><br/>
    A jelszavad: <%= password %>
</div>

<div>Kérlek, a biztonság kedvéért, a kezdeti jelszavadat minél előbb változtasd meg.</div>

<div>
    Üdvözlettel,<br/>
    A Terem Csapata
</div>
</body>
<html>