<html>
<head>
    <style type="text/css">
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>Kedves <%= userName %>!</div>

<div>Azt jelezted felénk, hogy elfelejtetted a jelenlegi jelszavadat.</div>

<div>
    A következő linken tudsz új jelszót megadni:<br/>
    <a href="/jelszo/csere/<%= userName %>/<%= token %>">/jelszo/csere/<%= userName %>/<%= token %></a><br/>
    (A fenti link egy napig érhető el.)
</div>

<div>Kérlek, amennyiben nem te kezdeményezted a jelszó cseréjét, mindenképpen jelezd az alábbi email címen:<a href="#">email</a></div>

<div>
    Üdvözlettel,<br/>
    Az Edzőterem Csapata
</div>
</body>
<html>