<html>
<head>
    <style type="text/css">
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>Kedves <%= userName %>!</div>

<div><%- content%></div>

<div>Ha a jövőben nem szeretnél ilyen üzeneteket kapni, akkor erre a linkre kattintva leiratkozhatsz: <a href="https://gonczy.testkulturamuhely.hu/leiratkozas/<%= unsubscribe %>">https://gonczy.testkulturamuhely.hu/leiratkozas/<%= unsubscribe %></a> (A profil oldaladon szintén be tudod állítani, miről szeretnél üzenetet kapni, és miről nem.)</div>

</body>
<html>