<html>
<head>
    <style type="text/css">
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>Kedves <%= userName %>!</div>

<div>Nagyon örülünk, hogy az edzőterem tagjainak körében üdvözölhetünk!</div>

<div>
    Az Edzőterem Segéd alkalmazás használatához aktiválnod kell a felhasználódat és megadnod egy jelszót, amit a következő linken tudsz megtenni:<br/>
    <a href="/jelszo/csere/<%= userName %>/<%= token %>">/jelszo/csere/<%= userName %>/<%= token %></a><br/>
    (A fenti link egy hónapig érhető el.)
</div>

<div>
    Az Edzőterem Segéd alkalmazást az alábbi webcímen tudod elérni:<br/>
    <a href="#">url</a><br/>
    Itt megnézheted a terem órarendjét, illetve hogy mely órákra jelentkezél, és még sok minden mást is!
</div>

<div>
    Üdvözlettel,<br/>
    A Terem Csapata
</div>
</body>
<html>