<html>
<head>
    <style type="text/css">
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>Kedves <%= userName %>!</div>

<div>Nagyon örülünk, hogy a Testkultúra Terem tagjainak körében üdvözölhetünk!</div>

<div>
    A Testkultúra Terem alkalmazást az alábbi webcímen tudod elérni:<br/>
    <a href="https://gonczy.testkulturamuhely.hu">https://gonczy.testkulturamuhely.hu</a>
    Itt megnézheted a terem órarendjét, illetve hogy mely órákra jelentkezél, és még sok minden mást is!
</div>

<div>
    A belépési neved: <%= userName %><br/>
    A jelszavad: <%= password %>
</div>

<div>Kérlek, a biztonság kedvéért, a kezdeti jelszavadat minél előbb változtasd meg.</div>

<div>
    Üdvözlettel,<br/>
    A Testkultúra Terem Csapata
</div>
</body>
<html>