<html>
<head>
    <style type="text/css">
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>Kedves <%= userName %>!</div>

<div>Kérésedre új jelszót generáltunk neked, az új jelszavad: <%= password %></div>

<div>
    A Teskultúra Terem alkalmazást az alábbi webcímen tudod elérni:<br/>
    <a href="https://gymassistant.cloudapp.net:8000">https://gymassistant.cloudapp.net:8000</a><br/>
</div>

<div>Kérlek, a biztonság kedvéért, ezt a jelszavadat minél előbb változtasd meg.</div>

<div>
    Üdvözlettel,<br/>
    A Testkultúra Terem Csapata
</div>
</body>
<html>